<h1 class="text-center mt-4">User Articles</h1>

<div class="container">

      <% @articles.each do |article| %>
  
       <div class="row justify-content-md-center">
          <div class="col-4 mt-4"> 
            <div class="card text-center shadow mb-5 bg-white rounded" style="width: 18rem;">
              
              <div class="p-3 mb-2 bg-info text-white">
                
                <% if article.user %>
                    by <%= link_to article.user.username, user_path(article.user) %>
                <% end%>
                
              </div>
                
            
              <div class="card-body">
                <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success"%></h5>
                <p class="card-text"><%= truncate(article.description, length: 100) %></p>
                <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
                
                <% if (logged_in? && article.user == current_user) || (logged_in? && current_user.admin == true) %>
                    <%= link_to "Edit", edit_article_path(article), class: "btn btn btn-secondary" %>
                    <%= link_to "Delete", article_path(article), class: "btn btn-danger" %>
                <% end %>
                
              </div>
              
              <div class="card-footer text-muted">
                <small> Created <%= time_ago_in_words(article.created_at) %>, ago
                edited <%= time_ago_in_words(article.updated_at) %> , ago </small>
              </div>
            </div>
          </div>
        </div>
  
      <% end %>
      
</div>
  



